
/* 
.App {
  display:flex;
  flex-direction: center;
  background-color:tan;
  height: 150px;
  padding: 20px;
  color: white;
  

} */
.todo {
  display:flex;
  flex-direction:center;
  padding: 2% solid red;
  background-color:lavender;
  /* height: 150px; */
  padding: 20px;
  color:orangered;
  
  

}
.todo1 {
  display:flex;
  flex-direction:center;
  padding: 2% solid red;
  background-color:wheat;
  height: 150px;
  padding: 20px;
  color:orangered;
  width: max-content;
  

}
.unche:checked+span
  {
  display:flex;
  flex-direction:row;
  padding: 20% solid red;
  background-color:whitesmoke;
  height: 150px;
  padding: 20px;
  color:burlywood;
  text-decoration:line-through;
  
  

}

